spring:
  application:
    name: wbsrisktaskerx

  datasource:
    url: jdbc:mysql://localhost:3306/webbanxeoto
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    open-in-view: false
    hibernate:
      ddl-auto: none

  flyway:
    enabled: true
    validate-on-migrate: true
    baseline-on-migrate: true
    baseline-version: 0
    locations: classpath:db/migration  # Chỉ định thư mục chứa file migration

  server:
    port: 8080

  logging:
    level:
      root: INFO
      org.hibernate: ERROR

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html

  mail:
    host: smtp.gmail.com
    port: 587
    username: xuanngoczxc@gmail.com
    password: "aeli xdsg cmii bqvx"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

app:
  jwtSecret: "bXlTZXJldEtleUxvbmclw6qI8TKZ9WXzH+OaD4jRge7xVtkA7tSy75cFDi5Jw=="
  jwtExpirationMs: 604800000
